.DefaultTabStyle{
  color:white;
    width: 25%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}
.DefaultTabStyle:hover {
    cursor: pointer;
    text-decoration:underline double white;
    text-underline-offset: 0.15rem;
  }

.ActiveTabStyle{
    color: black;
    width: 25%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}
.ActiveTabStyle:hover {
    cursor: pointer;
    background-color: white;
  }

  .ActiveTabStyle h2{
        border-bottom: 1px solid;
        line-height: 1.4rem;
  }